.popup__foot {
  // margin-bottom: 70px;
  width: 580px;
  display: flex;
  justify-content: flex-end;
  // border: 1px solid red;
  margin: 0 auto 40px;
  // flex-shrink: 0;
}


@media screen and (max-width: 732px) {
  .popup__foot {
    width: 90%;
  }
}