.popup__foot {
  // margin-bottom: 70px;
  width: 580px;
  display: flex;
  justify-content: flex-end;
  // border: 1px solid red;
  margin: 0 auto 40px;
  background: #FAFAFA;

  // flex-shrink: 0;
}

.popup__foot_container {
  width: 100%;
  background: #FAFAFA;
  padding-bottom: 20px;
}


@media screen and (max-width: 732px) {
  .popup__foot {
    width: 90%;
  }
}