.popup__foot {
  width: 580px;
  display: flex;
  justify-content: flex-end;
  margin: 20px auto 40px;
  background: #FAFAFA;

}




@media screen and (max-width: 582px) {
  .popup__foot {
    width: 90%;
    justify-content: center;
  }
}