.result__body {
  height: calc(100vh - 300px);
  overflow: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  .result__body {
    height: calc(100vh - 220px);

  }

}

@media screen and (min-height: 810px) and (min-width: 768px) {
  .result__body {
    height: calc(100vh - 420px);
  }

}