@import "./__button/quiz__button.scss";
@import "./__content/quiz__content.scss";
@import "./__icon/quiz__icon.scss";
@import "./__text/quiz__text.scss";
@import "./__title/quiz__title.scss";

.quiz {
  max-width: $block-width;
  margin: 0 auto;
  background: #30303c;
  border-radius: 10px;
  padding-top: 84px;
  padding-bottom: 64px;
  margin-bottom: 130px;
  box-sizing: border-box;
}

@media screen and (max-width: 1436px) {
  .quiz {
    width:90%;
  }
}


@media screen and (max-width: 950px) {
  .quiz {
    margin-bottom: 100px;
    padding-top: 60px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 768px) {
  .quiz {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 460px) {
  .quiz {
    width:98%;
    margin-bottom: 40px;
  }
}
