.popup__head {

  position: relative;
  max-width: 580px;
  margin: 0 auto;
  display: flex;
  flex-basis: 110px;
  height: 110px;
  flex: auto;
  align-items: center;

  a {
    margin-right: 26px;
  }
}

@media screen and (max-width: 732px) {
  .popup__head {
    width: 90%;
  }
}