@import './__button/track__button.scss';
@import './__container/track__container.scss';
@import './__canvas/track__canvas.scss';
@import './__svg/track__svg.scss';

.track {
  padding-top: 20px;
  width: 768px;
  margin: 0 auto;
}


