.lead__text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 152%;
  color: #FFFFFF;
  // flex-basis: 778px;
  max-width: 778px;
  // border: 1px solid red;
  // margin-bottom: 0;
  margin: 0;
}

@media screen and (max-width: 950px) {
  .lead__text {
    font-size: 22px;

  }
}