.social__link {
  transition: all .5s;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;
  background: #c9ef5d;
  border-radius: 50%;
  margin-right: 12px;
  
  path {
    transition: all .5s;
  }
}

.social__link_down {
  // border: 1px solid red;
  align-self: center;
  transition: all .5s;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  // margin-bottom: 80px;
}

.social__link_down:hover  .social__svg_text {
  transform: rotate(180deg);
}

.social__link_down:hover  .social__svg_union {
  transform: scale(1.1);
}

.social__link_down:active {
  transform: scale(.9);
}

.social__link:hover {
  transform: scale(.9);
  background-color: invert($color: #c9ef5d);
  background-color: inherit;

  path {
    fill:#c9ef5d;
    stroke: #c9ef5d;
  }




}