@import './__content/popup__content.scss';
@import './__head/popup__head.scss';
@import './__bg/popup__bg.scss';
@import './__close/popup__close.scss';
@import './__body/popup__body.scss';
@import './__number/popup__number.scss';
@import './__title/popup__title.scss';
@import './__track/popup__track.scss';
@import './__answers/popup__answers.scss';
@import './__next/popup__next.scss';
@import './__foot/popup__foot.scss';
@import './__main/popup__main.scss';
@import './__svg/popup__svg.scss';
@import './__res/popup__res.scss';
@import './__res-bg/popup__res-bg.scss';

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  display: none;

}

.popup_on {
  display: flex;
}

