.header__logos {
  max-width: 1164px;
  margin: 0 auto;
  display: flex;
  padding-top: 20px;
  margin-bottom: 170px;

  a {
    align-self: flex-end;
  }

  // svg {
  //   fill: white;
  // }
}

@media screen and (max-width: 1220px) {
  .header__logos {
    width: 90%;
  }
}

@media screen and (max-width: 950px) {
  .header__logos {
    margin-bottom: 60px;
  }
}