.lead__img-container {
  flex-basis: 320px;
  position: relative;
  height: 320px;
  z-index: 2;
transition: all 30s;
transform: scale(.9);
}

@media screen and (max-width: 950px) {
  .lead__img-container {
    // overflow: hidden;
    flex-basis: unset;
    margin-top: 0;
  }
}