.header__planet {
  position: absolute;
  transition: all 20s;


}

.header__planet_1 {
  right: -80px;
  top: -60px;
}

.header__planet_2 {
  left: 0;
  bottom: -220px;
}

@media screen and (max-width: 768px) {
  .header__planet_1 {
    top: 20px;
  }
}