.saturn__layer {
  position: absolute;
  top: 0;
  left: 300px;
  width: 736px;
  height: 857px;
  background: linear-gradient(90.23deg, rgba(7, 6, 24, 0.8) 0.28%, rgba(7, 6, 24, 0) 88.65%);
  //  border: 1px solid red;
  z-index: -1;
}

.saturn__layer_stars {
  position: absolute;
  // border: 1px solid red;
  width: 400px;
  height: 400px;
  transform: rotate(45deg);
  background: url(./images/lead-bg-stars.png);
  right: 100px;
  bottom: -700px;
  opacity: .8;
  transition: all 30s;

}

