.lead__content {
  max-width: $block-width;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;


}

@media screen and (max-width: 1220px) {
  .lead__content {
    width: 90%;
  }
}

@media screen and (max-width: 950px) {
  .lead__content {
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
}