.popup__content {
  width: 730px;
  // border: 1px solid red;
  // height: 760px;
  background: #FAFAFA;
  position: relative;
  box-sizing: border-box;


}

@media screen and (max-width: 732px) {
  .popup__content {
    width: 100%;
  }
}