.popup__content {
  width: 730px;
  // border: 1px solid #FAFAFA;
  // height: 100vh;
  background: #FAFAFA;
  position: relative;
  box-sizing: border-box;
  // padding: 34px 36px;
  // position: relative;
  // background: #fff url(./images/popup-bg.png);
  background-position: top left;
  background-repeat: no-repeat;
  // display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 732px) {
  .popup__content {
    width: 98%;
  }
}