.popup__content {
  width: 730px;
  background: #FAFAFA;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;


}

@media screen and (max-width: 732px) {
  .popup__content {
    width: 100%;
    // height: 100%;
  }
}

@media screen and (max-width: 540px) {
  .popup__content {
    height: 100%;
    border-radius: 0;
  }
}