.header__title {
  color: #fff;
  font-family: "Montserrat bold";
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  line-height: 109%;
  text-transform: uppercase;
  max-width: 620px;
  // border: 1px solid red;
  margin-bottom: 20px;
}
