.logo_jbl {
  margin-right: 40px;
  fill: white;
}

.logo_hype {
  align-self: flex-end;
  fill: white;
  transition: all .5s;
}

.logo_jbl:hover, .logo_hype:hover {
  transform: scale(0.98);
  opacity: .9;
}