.header__bg {
  position: absolute;
  top: 0;
  left: 5%;
  z-index: -3;
  opacity: .5;
}

@media screen and (max-width: 1220px) {
  .header__bg {
    left: -200px;
  }
}

@media screen and (max-width: 950px) {
  .header__bg {
    left: -500px;
  }
}

@media screen and (max-width: 768px) {
  .header__bg {
    left: 0;
    // border: 1px solid red;
    // display: none;
  }
}