.header__bg {
  position: absolute;
  top: 0;
  // left: 100px;
  z-index: -1;
}

@media screen and (max-width: 1220px) {
  .header__bg {
    // left: -100px;
  }
}

@media screen and (max-width: 768px) {
  .header__bg {
    // left:-10%;
    // left: -5%;
    // border: 1px solid red;
    
    // object-position: cover;
    // width: 100%;
    // left:0;
  }
}

