.header__bg {
  position: absolute;
  top: 0;
  left: 5%;
  z-index: -3;
  opacity: .5;
  // transition: all 60s;
  // box-shadow: 0px 0px 1000px white;
  animation: kenburns-top 120s ease-out infinite both;
}

@keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.25) translateY(-15px);
    transform-origin: top;
  }
}


@media screen and (max-width: 1220px) {
  .header__bg {
    left: -200px;
  }
}

@media screen and (max-width: 950px) {
  .header__bg {
    left: -500px;
  }
}

@media screen and (max-width: 768px) {
  .header__bg {
    left: 0;
    // border: 1px solid red;
    // display: none;
  }
}