.lead__img {
  position: absolute;
}

.lead__img_1 {
  top: 0;
  right: 0;
  // border: 1px solid red;
}

.lead__img_2 {
  top: 170px;
  right: 130px;
  
  // border: 1px solid red;
}

@media screen and (max-width: 950px) {
  .lead__img_2 {
    right: 65px;
    bottom: 40px;
  }

  .lead__img_1 {
    right: -85px;
  }
}