.answer__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-align: left;
  width: 90%;

}

.answer__title_res {
  // width: 50%;
  margin-left: 24px;
  // margin: 0 auto 20px;
}