@import './__links/social__links.scss';
@import './__planet/social__planet.scss';
@import './__union/social__union.scss';
@import './__text/social__text.scss';

.social {
  position: relative;
  max-width: 1188px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;


  svg {
    align-self: center;
    // margin-bottom: 80px;
  }

}