@import './__links/social__links.scss';
@import './__planet/social__planet.scss';
@import './__union/social__union.scss';
@import './__text/social__text.scss';
@import './__content/social__content.scss';
@import './__layer/social__layer.scss';
@import './__link/social__link.scss';
.social {
  position: relative;
  width: 100%;
  // border: 1px solid red;
  // width: 1436px;
  // margin: 0 auto;
  // border: 1px solid red;
  padding-bottom: 60px;
  // margin-top: -80px;
}

.social:hover .social__planet {
  transform: scale(.9);
}