@import "./__links/social__links.scss";
@import "./__planet/social__planet.scss";
@import "./__union/social__union.scss";
@import "./__content/social__content.scss";
@import "./__layer/social__layer.scss";
@import "./__link/social__link.scss";
@import "./__svg/social__svg.scss";
@import './__svg-container/social__svg-container.scss';

.social {
  position: relative;
  width: 100%;

  padding-bottom: 60px;
}

.social:hover .social__planet {
  // transform: scale(0.9);
}
