.advantages__bg {
  position: absolute;
  right: calc(50% - 400px);
  top: -200px;
  z-index: -1;
}

.advantages__bg_big {
  top: 0;
  // opacity: .4;
  left: 0;
  position: absolute;
   z-index: 1;

}