.track__canvas {
  width: 120px;
  background: url(./images/Seekbarfull.png);
  background-repeat: no-repeat;
  background-position: center;
}


.track__canvas_popup {
  background: url(./images/popup-seekbar.png);
  width: 500px;
  background-position: left;
  background-repeat: repeat-x;
  height: 50px;
  // border: 1px solid green;
}

@media screen and (max-width: 732px) {
  .track__canvas_popup {
    width: 80%;
  }
}