.track__canvas {
  width: 120px;
  background: url(./images/Seekbarfull.png);
  background-repeat: no-repeat;
  background-position: center;
}


.track__canvas_popup {
  background: url(./images/popup-seekbar.png);
  width: 424px;
  background-position: center;
  background-repeat: no-repeat;
  // height: 50px;
  // border: 1px solid red;
}