.popup__body {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: calc(100vh - 300px);
  margin: 0 auto;
  padding-top: 30px;
  background: #FAFAFA;
  overflow: auto;
  overflow-x: hidden;

  box-sizing: border-box;
}


@media screen and (min-width: 768px) {
  .popup__body {
    height: calc(100vh - 220px);

  }

  .popup__body_res {
    height: 290px;
  }
}

// @media screen and (min-height: 825px) {
//   .popup__body {
//     height: 390px;

//   }

//   .popup__body_res {
//     height: 290px;
//   }
// }