@import './__circle/img-container__circle.scss';
@import './__line/img-container__line.scss';

.img-container {
  position: relative;
  width: 88px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
}




