@import './__content/saturn__content.scss';
@import './__img-container/saturn__img-container.scss';
@import './__img/saturn__img.scss';
@import './__par/saturn__par.scss';
@import './__text/saturn__text.scss';
@import './__title/saturn__title.scss';
@import './__container/saturn__container.scss';
@import './__bg/saturn__bg.scss';
@import './__background/saturn__background.scss';
@import './__layer/saturn__layer.scss';


.saturn {
  position: relative;
  width: 100%;
}

.saturn:hover .saturn__bg {
  transform: scale(.9);
}

.saturn:hover .saturn__img {
  transform: rotate(360deg);
}

@media screen and (max-width: 550px) {
  .saturn {
    margin-bottom: 230px;
  }
}