.popup__number {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  color: #333333;
  margin: 0 auto 6px;
  padding: 0;
  // text-align: left;
  display: block;
  width: 580px;
}

.popup_number_span {
  font-weight: bold;
}

@media screen and (max-width: 582px) {
  .popup__number {
    width: 90%;
  }
}