.ganymede__bg {
  position: absolute;
  z-index: -2;
  // border: 1px solid red;
  left: -1200px;
  top:-100px;
  transform: rotate(170deg);
  opacity: .7;
  transition: all 60s;

}


@media screen and (max-width: 950px) {
  .ganymede__bg {
    left: -1000px;
    top: -400px;
    opacity: .9;

  }
}