.social__links {
  align-self: flex-end;
  display: flex;
  margin-top: 20px;

  a {
    display: flex;
    justify-content: center;

    width: 48px;
    height: 48px;
    background: #c9ef5d;
    border-radius: 50%;
    margin-right: 12px;

  }
  
}


@media screen and (max-width: 950px) {
  .social__links {
    align-self: center;
    margin-bottom: 50px;
  }
}
