.social__links {
  align-self: flex-end;
  display: flex;
  margin-top: 20px;


  
}




@media screen and (max-width: 950px) {
  .social__links {
    align-self: center;
    margin-bottom: 50px;
  }
}
