.header__img-container {
  flex-basis: 460px;
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
  // border: 1px solid red;
  // max-width: 460px;
}

@media screen and (max-width: 950px) {
  .header__img-container {
    flex-basis: unset;
    margin-bottom: 60px;
    margin-left: 0;
  }
}