@import './__layer/space__layer.scss';

.space {
    // background: url(./images/header-bg.png);
    // background-position: right top;
    // background-repeat: no-repeat;
    // background-size: cover;
    // display: fixed;
    // border: 1px solid red;
    height: 100vh;
    width: 100%;
    top: 0;
    left:0;
    position: fixed;
    z-index: -1;
    // background: #09081B;
}

.space.lazyloaded {
    background: url(./images/header-bg.png);
    background-position: right top;
    background-size: cover;
}