.card__text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;

  text-align: center;

  color: #ffffff;
  max-width: 320px;
}

.card__text_main {
  max-width: 250px;
}


