.popup__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #333333;
  margin: 0 auto 20px;
  padding: 0;
  width: 580px;
  z-index: 1;
}

@media screen and (max-width: 582px) {
  .popup__title {
    width: 90%;
  }
}