.header__layer_1 {
  position: absolute;
  top: 0;
  left: 200px;
  width: 736px;
  height: 857px;
  background: linear-gradient(90.23deg, rgba(7, 6, 24, 0.8) 0.28%, rgba(7, 6, 24, 0) 88.65%);
  // border: 1px solid red;
  z-index: -1;
}