.lead__bg {
  position: absolute;
  top: -147px;
  left: -530px;
  z-index: -1;
  opacity: .5;
  // top: -200px;
  // border: 1px solid red;
  // height: 100%;
}

@media screen and (max-width: 950px) {
  .lead__bg {
    display: none;
  }
}