.header__content {
  max-width: 1436px;
  margin: 0 auto;

  //  border-left: 1px solid #fff;
  //  border-right: 1px solid #fff;
  position: relative;
   overflow: visible;
  // height: 100vh;
}

@media screen and (max-width: 1436px) {
  .header__content {
    max-width: 100%;

    // overflow-y: auto;
    // overflow-x: hidden;
  }
}

@media screen and (max-width: 1220px) {
  .header__content {
    width: 90%;
  }
}