@import './__container/jupiter__container.scss';
@import './__content/jupiter__content.scss';
@import './__par/jupiter__par.scss';
@import './__text/jupiter__text.scss';
@import './__title/jupiter__title.scss';
@import './__img/jupiter__img.scss';
.jupiter {
  max-width: 1436px;
  // border: 1px solid red;
  margin: 0 auto;
  position: relative;
  height: 565px;
  // overflow-y: hidden;
}

@media screen and (max-width: 1436px) {
  .jupiter {
    overflow: hidden;
    width: 100%;
  }
}

// @media screen and (max-width: 950px) {
//   .jupiter {
//     height: 700px;
//   }
// }