@import "./__container/jupiter__container.scss";
@import "./__content/jupiter__content.scss";
@import "./__par/jupiter__par.scss";
@import "./__text/jupiter__text.scss";
@import "./__title/jupiter__title.scss";
@import "./__img/jupiter__img.scss";
@import "./__bg/jupiter__bg.scss";
@import "./__block/jupiter__block.scss";
@import "./__layer/jupiter__layer.scss";


.jupiter {
  width: 100%;

  margin: 0 auto;
  position: relative;
  margin-bottom: 200px;
}

.jupiter:hover .lead__layer_stars {
  opacity: 1;
  transform: scale(1.2);
}



@media screen and (max-width: 950px) {
  .jupiter {
    overflow: hidden;
    margin-top: -200px;
    margin-bottom: 0;

  }
}
