@import './__container/jupiter__container.scss';
@import './__content/jupiter__content.scss';
@import './__par/jupiter__par.scss';
@import './__text/jupiter__text.scss';
@import './__title/jupiter__title.scss';
@import './__img/jupiter__img.scss';
@import './__bg/jupiter__bg.scss';
@import './__block/jupiter__block.scss';

// $jupiter-width: 1436px;

.jupiter {
  width: 100%;
  // max-width: 1436px;
  // border: 1px solid red;
  margin: 0 auto;
  position: relative;
  // overflow: hidden;
  // margin-bottom: 40px;
}


.jupiter:hover .lead__layer_stars {
  opacity: 1;
  transform: scale(1.2);
}

.jupiter:hover .jupiter__img {
  transform: scale(.8);
}

@media screen and (max-width: 950px) {
  .jupiter {
    overflow: hidden;
    margin-top: -200px;
  }
}

