.result__foot {
  width: 100%;
  background: #fafafa;
  padding: 20px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

.result__foot_container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

@media screen and (max-width: 480px) {
  .result__foot_container {
    flex-direction: column-reverse;
    justify-content: center;
  }
}