@import './__title/header__title.scss';
@import './__text/header__text.scss';
@import './__logos/header__logos.scss';
@import './__container/header__container.scss';
@import './__content/header__content.scss';
@import './__planet/header__planet.scss';
@import './__bg/header__bg.scss';
@import './__description/header__description.scss';
@import './__img-container/header__img-container.scss';
@import './__img/header__img.scss';

.header {
  // width: 1164px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  padding-bottom: 50px; // для наглядности

}

.header.lazyloaded {
  // background: url(./images/header-bg.png);
  background-position: right top;
  background-repeat: no-repeat;
  
}