.lead__description {
  align-self: center;
  margin-left: 40px;
}

@media screen and (max-width: 950px) {
  .lead__description {
    // max-width: 388px;
    margin-left: 0;
    align-self: center;
  }
}