.popup__answers {

  // height: 160px;
  width: 580px;
  margin: 0 auto 10px;
}

// .popup__answers_clicked {
//   overflow: scroll;
//   overflow-x: hidden;
//   width: 600px;
// }

@media screen and (max-width: 582px) {
  .popup__answers {
    width: 100%;
  }

  // .popup__answers_clicked {
  //   width: 100%;
  // }
}