.social__layer {
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
  height: 318px;
  background: linear-gradient(180deg, rgba(9, 8, 27, 0) 0.28%, #09081B 88.65%);
  z-index: -1;
}

@media screen and (max-width: 950px) {
  .social__layer {
    bottom: 200px;
  }
}

@media screen and (max-width: 768px) {
  .social__layer {
    display: none;

  }
}