@import "./__container/advantages__container.scss";
@import "./__bg/advantages__bg.scss";
@import "./__img/advantages__img.scss";

.advantages {
  padding-top: 140px;
  position: relative;
  margin-bottom: 170px;
}

.advantages:hover .card__bg{ 
  transform: scale(2);
}

.advantages:hover .advantages__bg{ 
  transform: scale(.7);
}

@media screen and (max-width: 950px) {
  .advantages {
    padding-top: 250px;
    margin-bottom: 80px;
  }
}

