.jupiter__img {
  position: absolute;
  right: -100px;
  z-index: -1;
}



@media screen and (max-width: 950px) {
  .jupiter__img {
    left: 5%;
    top: 320px;
  }
}

@media screen and (max-width: 750px) {
  .jupiter__img {
    right: 20%;
  }
}