.jupiter__img {
  position: absolute;
  right: -100px;
  z-index: -1;
}

@media screen and (max-width: 1220px) {
  .jupiter__img {
    right: -400px;
  }
}

@media screen and (max-width: 950px) {
  .jupiter__img {
    right: calc(50% - 170px);
    top: 420px;
  }
}