.advantages__img {
  position: absolute;
  // z-index: 1;
}

.advantages__img_right {
  right: -80px;
  top: -100px;
}

.advantages__img_left {
  left:  -100px;
  bottom: -100px;
}

@media screen and (max-width: 950px) {


  .advantages__img_right {
    // right: 50px;
    right: -80px;
    top: -250px;
  }
  .advantages__img_left {
    left: 60%;
    top: -120px;
    
  }
}