.advantages__img {
  position: absolute;
}

.advantages__img_right {
  width: 280px;
  right: -120px;
  top: -220px;
  // transform: rotateX(30deg);
  // border: 1px solid red;
  transform: rotate(-30deg);
}

.advantages__img_left {
  left: -100px;
  bottom: -120px;
}

@media screen and (max-width: 1362px) {
  .advantages__img_right {
    right: 0;

  }
  
  .advantages__img_left {
    left: 0;
    // top: -120px;
  }
}

@media screen and (max-width: 950px) {
  .advantages__img_right {
    right: -40px;
    top: -250px;
  }
  .advantages__img_left {
    right: 100px;
    top: -200px;
  }
}
