.ganymede__content {
  max-width: $block-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1436px) {
  .ganymede__content {
    width: 90%;
  }
}

@media screen and (max-width: 950px) {
  .ganymede__content {
    width: 70%;
  }
}

@media screen and (max-width: 560px) {
  .ganymede__content {
    width: 90%;
  }
}