@import './__content/lead__content.scss';
@import './__description/lead__description.scss';
@import './__img-container/lead__img-container.scss';
@import './__text/lead__text.scss';
@import './__img/lead__img.scss';
@import './__bg/lead__bg.scss';
@import './__layer/lead__layer.scss';
.lead {
  margin-bottom: 200px;
  position: relative;
}

// .lead:hover .lead__bg {
//   transform: scale(1.1);
//   opacity: .8;
// }



@media screen and (max-width: 950px) {
  .lead {
    margin-bottom: 0px;
  }
}