.answer__hint {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  display: none;
  text-align: left;
  margin-left: 34px;
  max-width: 425px;
}