/** Montserrat Medium **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url("./fonts/Montserrat-Medium.eot");
    src: url("./fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
        url("./fonts/Montserrat-Medium.woff2") format("woff2"), url("./fonts/Montserrat-Medium.woff") format("woff");
    font-display: swap;
}

/** Montserrat SemiBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    src: url("./fonts/Montserrat-SemiBold.eot");
    src: url("./fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"),
        url("./fonts/Montserrat-SemiBold.woff2") format("woff2"), url("./fonts/Montserrat-SemiBold.woff") format("woff");
    font-display: swap;
}

/** Montserrat Bold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url("./fonts/Montserrat-Bold.eot");
    src: url("./fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
        url("./fonts/Montserrat-Bold.woff2") format("woff2"), url("./fonts/Montserrat-Bold.woff") format("woff");
    font-display: swap;
}


@font-face {
    font-family: "ITCAvanGardeGothic";
    src: url("./fonts/ITCAvanGardeGothic");
    font-display: swap;

}