.header {
  color: #aaa;
}

.header__container {
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

.header__title {
  margin-left: 24px;
  color: yellowgreen;
}

.header__links {
  display: flex;
  align-self: center;
}

.header__link {
  color: #aaa;
  text-decoration: none;
  margin-right: 24px;
}
