.main__title {
  text-align: center;
  color: red;
}

.main {
  // background-image: url(background.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  flex: auto;
  // flex-shrink: 1;
}

.main.lazyloaded {
  background-image: url(../images/background.png);
}
.main__lead {
  max-width: 100%;
}