.jupiter__content {
  max-width: $block-width;
  margin: 0 auto;

  // overflow-y: hidden;
}

@media screen and (max-width: 1436px) {
  .jupiter__content {
    width: 70%;
  }
}

@media screen and (max-width: 560px) {
  .jupiter__content {
    width: 90%;
  }
}