.jupiter__content {
  max-width: $block-width;
  margin: 0 auto;
  // border: 1px solid red;

  // overflow-y: hidden;
}

@media screen and (max-width: 1436px) {
  .jupiter__content {
    width: 90%;
  }
}

@media screen and (max-width: 420px) {
  .jupiter__content {
    width: 100%;
  }
}