@import './__head/answer__head.scss';
@import './__hint/answer__hint.scss';
@import './__icon/answer__icon.scss';
@import './__svg/answer__svg.scss';
@import './__title/answer__title.scss';

.answer {
  background-color: #fff;
  box-shadow: -1px 1px 2px rgba(230, 230, 230, 0.2), 1px -1px 2px rgba(230, 230, 230, 0.2), -1px -1px 2px rgba(255, 255, 255, 0.9), 1px 1px 3px rgba(230, 230, 230, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(230, 230, 230, 0.5);
  border-radius: 8px;
  outline: none;
  border: none;
  display: block;
  width: 580px;
  margin: 0 auto 10px;
  padding: 0;
  cursor: pointer;
  transition: all .2s;
  min-height: 54px;
}

.answer:active {
  transform: scale(.98);
}

.answer:disabled {
  transform: scale(1);

}

.answer_wrong {
  border-left: 5px solid #FF5630;
}

.answer_correct {
  border-left: 5px solid #19DF20;
}