.social__planet {
  position: absolute;
  left: -80px;
  z-index: 1;
  transition: all 30s;
}

@media screen and (max-width: 950px) {
  .social__planet {
    top: 0;
    left:0;
  }
}

@media screen and (max-width: 768px) {
  .social__planet {
    top: 50px;
  }
}

@media screen and (max-width: 610px) {
  .social__planet {
    left: -100px;
  }
}