.jupiter__bg {
  display: none;
  position: absolute;
  top: 0px;
  left: -200px;
  // opacity: .8;
  z-index: -1;
  // border: 1px solid red;
}

@media screen and (max-width: 950px) {
  .jupiter__bg {
    display: block;
  }
}