.result__content {
  // background-color: #fafafa;
  width: 90%;
  margin: 20px auto;
  // border: 1px solid red;
  // margin-top: 20px;
  // margin-left: 20px;
  // border: 1px solid green;
  background-color: rgba(250, 250, 250, 0.9);
  border-radius: 5px;
  padding: 24px;
  box-sizing: border-box;
}
